<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>User Information</title>
</head>
<body>
    <h1>User Information</h1>
    <ul>
        <li>Logged in as: {{login}}</li>
    </ul>
    <h1>Chats</h1>
    <div style="height:400px;width:1000px;border:1px solid #ccc;overflow:auto;">
        {{#chats}}{{> chat}}{{/chats}}
    </div>
    <h1>Chat With</h1>
    <form action="/messages/send" enctype="multipart/form-data" method="POST">
        <label for="login">Login:</label><br>
        <input type="text" id="login" name="login"><br>
        <label for="text">Message:</label><br>
        <input type="text" id="text" name="text"><br>
        <input type="hidden" id="sender" name="sender" value={{id}}>
        <input type="submit" value="Send"><br>
    </form>
</body>
</html>