<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Please enter login</title>
</head>
<body>
    <form action="/user/add" enctype="multipart/form-data" method="POST">
        <label for="first_name">First name:</label><br>
        <input type="text" id="first_name" name="first_name"><br>
        <label for="last_name">Last name:</label><br>
        <input type="text" id="last_name" name="last_name"><br>
        <label for="email">Login:</label><br>
        <input type="text" id="email" name="email"><br>
        <input type="submit" value="Submit"><br>
    </form>
</body>
</html>